apiVersion: v1
baseDomain: {{ osp_cluster_dns_zone }}
metadata:
  name: {{ acm_guid }}
networking:
  networkType: {{ kni_ocp_networking }}
  machineCIDR: 10.20.0.0/24
compute:
- name: worker
  replicas: 0
controlPlane:
  name: master
  replicas: 1
  platform:
    baremetal: {}
platform:
  baremetal:
    provisioningNetworkCIDR: 172.22.0.0/24
    provisioningNetworkInterface: ens3
    apiVIP: 10.20.0.115
    ingressVIP: 10.20.0.113
    dnsVIP: 10.20.0.114
{% if kni_ocp_offline %}
    bootstrapOSImage: http://10.20.0.2/images/RHCOS_QEMU_IMAGE
    clusterOSImage: http://10.20.0.2/images/RHCOS_OPENSTACK_IMAGE
{% endif %}
    hosts:
      - name: master-3
        role: master
        bmc:
          address: ipmi://10.20.0.3:master-3BMC
          username: admin
          password: redhat
        bootMACAddress: de:ad:be:ef:00:43
        bootMode: legacy
        hardwareProfile: openstack

sshKey: 'SSH_KEY'
{% if kni_ocp_offline %}
imageContentSources:
- mirrors:
  - provision.{{ guid }}.{{ kni_ocp_domain }}:5000/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
- mirrors:
  - provision.{{ guid }}.{{ kni_ocp_domain }}:5000/ocp4/openshift4
  source: registry.svc.ci.openshift.org/ocp/release
{% endif %}
pullSecret: '{{ kni_pull_secret | to_json }}'
